/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#ffffff;
    overflow-x:hidden;

}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    display:block;
}

.container{

    width:90%;
    max-width:1200px;
    margin:auto;

}

section{

    padding:100px 0;

    position:relative;

}

/*==============================
        CURSOR GLOW
==============================*/

.cursor-glow{

    position:fixed;

    left:0;
    top:0;

    width:250px;
    height:250px;

    border-radius:50%;

    background:
    radial-gradient(circle,
    rgba(59,130,246,.35) 0%,
    rgba(59,130,246,.15) 45%,
    transparent 75%);

    filter:blur(35px);

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:9999;

    transition:
        left .08s linear,
        top .08s linear,
        width .3s,
        height .3s,
        background .4s;

    mix-blend-mode:screen;

}

/*=========================================
        SCROLL REVEAL
=========================================*/

.home-content,
.home-image,
.about-image,
.about-content,
.skills-left,
.skills-right,
.project-card,
.contact-info,
.contact-form,
.footer-content{

    opacity:0;

    transform:translateY(60px);

    transition:

        opacity .9s ease,

        transform .9s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}
